---
layout: default
---

<div>

  {{ content }}

  <h2>We're on the air right now! Listen in live:</h2>
  <audio controls="" autoplay="" name="media"><source src="https://n0d.radiojar.com/k9uw1tyr7x8uv?rj-ttl=5&amp;rj-tok=AAABj-TrWswAmOONIx6N7D4fjA" type="audio/mpeg"></audio>

  <h2>Latest Episodes</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

        <audio controls>
            <source src="https://actions.google.com/sounds/v1/ambiences/coffee_shop.ogg" type="audio/ogg">
        </audio>

      </li>
    {% endfor %}
  </ul>

</div>